//animations
@keyframes downtoup {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
// start header style
.header {
  .header__items {
    ul {
      :nth-child(1) {
        a {
          color: #999;
          &::after {
            content: "";
            position: absolute;
            height: 20px;
            width: 1px;
            top: 3px;
            right: 77px;
            background-color: #999;
          }
        }
      }
      :nth-child(2) {
        a {
          color: #999;
          &::after {
            content: "";
            position: absolute;
            height: 20px;
            width: 1px;
            top: 3px;
            right: 160px;
            background-color: #999;
          }
        }
      }
      :nth-child(3) {
        a {
          color: #fc9b4b;
        }
      }
    }
  }
  .header__button {
    button {
      margin-right: 14px;
      color: #fff;
      background-color: #fc9928;
      outline: none;
      border: none;
      border-radius: 0 20px 20px 0;
      i {
        color: #fff;
        &::after {
          content: "";
          position: absolute;
          top: 10px;
          right: 40px;
          background-color: #fff;
          width: 2px;
          height: 17px;
        }
      }
    }
  }
  .header__search-box {
    input {
      padding: 6px;
      width: 410px;
      border-radius: 20px 0 0 20px;
      border: 2px solid #ccc;
      &::placeholder {
        font-size: 15px;
        color: #c8c8c8;
      }
      &:focus {
        outline: none;
      }
    }
    i {
      right: 13px;
      top: 14px;
      font-size: 16px;
      color: #c8c8c8;
      &::after {
        content: "";
        top: -5px;
        right: 25px;
        background-color: #c8c8c8;
        height: 25px;
        width: 1px;
        position: absolute;
      }
    }
  }
  .header__logo {
    left: 0;
    top: 45px;
  }
}
// start line style
.line {
  width: 100%;
  background-color: #ebe8e8;
  height: 1px;
}
// start menu-bar style
.menu-bar {
  .menu-bar__items {
    ul {
      .menu-bar__items__item {
        &:hover + .menu-bar__items__item-menu {
          display: block;
        }
        &:hover + .menu-bar__items__item-menu::after {
          transform: translate(0px, -12px);
        }
      }
      .menu-bar__items__item-menu {
        z-index: 10;
        background: #fff;
        right: 16px;
        padding: 15px 0px;
        padding-right: 0 !important;
        width: 100%;
        display: none;
        transition: opacity 0.3s ease;
        position: relative;
        &:hover {
          display: block;
        }
        &:hover::after {
          transform: translate(0px, -12px);
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 38px;
          width: 0;
          height: 0;
          border-left: 13px solid transparent;
          border-right: 13px solid transparent;
          border-bottom: 13px solid #f6f5f7;
          transition: transform 0.4s ease;
        }
        li {
          a {
            text-decoration: none;
            padding: 10px 16px;
            &:hover {
              background-color: transparent;
              border-bottom: 3px solid #fc9928;
            }
          }
        }
      }
      #menu-2::after {
        right: 147px !important;
      }
      #menu-3::after {
        right: 237px !important;
      }
      #item-4,
      #item-5,
      #item-6,
      #item-7,
      #item-8,
      #item-9,
      #item-10,
      #item-11 {
        &::after {
          content: "";
          position: absolute;
          top: 41px;
          right: 38%;
          width: 0;
          height: 0;
          border-left: 13px solid transparent;
          border-right: 13px solid transparent;
          border-bottom: 13px solid #f6f5f7;
          display: none;
        }
        &:hover::after {
          display: block;
        }
      }
      li {
        a {
          color: #6f6f70;
          padding: 15px 13px;
          &:hover {
            color: #fc9928;
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
//start main-content style
.main-content {
  background-color: #e8e7ed;
  //start style chat and scrollup
  .main-content__scroll-up {
    display: none;
    position: fixed;
    bottom: 170px;
    left: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: #666;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 8px #fff;
  }
  .main-content__fa-comment-dots {
    animation: downtoup 0.5s;
    position: fixed;
    bottom: 40px;
    right: 40;
    z-index: 99;
    font-size: 30px;
    padding: 15px;
    background-color: orange;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  //main-content__conection style
  .main-content__conection {
    animation: downtoup 0.5s;
    display: none;
    position: fixed;
    top: 40px;
    right: 50px;
    width: 390px;
    z-index: 99;
    background-color: #f3f3f3;
    border-radius: 10px;
    .main-content__conection__title {
      background-color: #ff8b00;
      border-radius: 10px 10px 0 0;
      img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin: 15px 10px;
      }
      i {
        left: 25px;
        top: 15px;
        font-size: 18px;
        color: #fff;
        background-color: #e57d00;
        border-radius: 100%;
        cursor: pointer;
        padding: 8px 10px;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .main-content__conection__body {
      display: flex;
      flex-direction: column;
      height: 500px;
      overflow-y: scroll;
      p {
        span {
          border-radius: 20px;
          color: #ff8b00;
        }
      }
      div:nth-child(2),
      div:nth-child(3) {
        img {
          border-radius: 100%;
          width: 50px;
          height: 50px;
          margin: 15px 10px;
          margin-top: 110px;
        }
        p {
          width: 300px;
          border-radius: 10px 10px 0 10px;
        }
      }
      div:nth-child(3) {
        img {
          margin-top: 0;
        }
        p {
          width: auto;
        }
      }
      div:nth-child(4) {
        img {
          border-radius: 100%;
          width: 50px;
          height: 50px;
          align-self: end;
        }
        form {
          width: 300px;
          border-radius: 10px 10px 0 10px;
          p {
            white-space: nowrap;
            font-size: 13px;
            color: #bdbaba;
          }
          input {
            border: none;
            border-bottom: 2px solid #d2d2d2;
            &::placeholder {
              font-size: 13px;
              color: #d2d2d2;
            }
            &:focus {
              outline: none;
              border-bottom: 2px solid orange;
            }
          }
          div {
            button {
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
  // start main-content__banner-off style
  .main-content__banner-off {
    margin-top: -15px;
  }
  //main-content__contact-us style
  .main-content__product {
    div:nth-child(1) {
      border-radius: 10px;
      a {
        &:hover {
          color: #fc9928 !important;
        }
      }
      i {
        color: #fc9928;
      }
    }
    div:nth-child(2) {
      div:nth-child(1) {
        div:nth-child(1) {
          div:nth-child(1) {
            a {
              top: 23px;
              right: 23px;
              border: 2px solid orange;
              border-radius: 8px;
              img {
                width: 60px;
                height: 60px;
              }
            }
            img {
              width: 350px;
              height: 350px;
            }
            span {
              left: 0;
              top: 18px;
              border-radius: 0 18px 18px 0;
              background-color: #eee;
              padding: 15px 38px;
              i {
                color: #666;
              }
            }
          }
          div:nth-child(2) {
            border-radius: 10px;
            padding: 35px 0;
            i {
              color: #ccc;
              &:hover ~ span {
                display: block;
              }
            }
            i.fa-circle-dot {
              margin-right: 70px;
            }
            span {
              top: 2px;
              right: 5px;
              color: #fff;
              background-color: #6e6e6e;
              font-size: 13px;
              border-radius: 3px;
              display: none;
            }
            p {
              color: #6e6e6e;
            }
            &::after {
              content: "";
              position: absolute;
              top: 18px;
              right: 215px;
              background-color: #e8e7ee;
              width: 2px;
              height: 60px;
            }
          }
        }
        div:nth-child(2) {
          border-radius: 10px;
          div:nth-child(1) {
            border-radius: 10px 10px 0 0;
            background-color: #f7f8fa;
            .cracking {
              color: orange !important;
              cursor: context-menu !important;
              span.border-bottom {
                display: block;
              }
            }
            .nav-item {
              cursor: pointer;
              color: #9a9a9a;
              li {
                color: #9a9a9a;
              }
              transition: color 0.3s ease;
              &:hover {
                color: #666;
              }
              span {
                cursor: context-menu;
                width: 100%;
                background-color: #ffa500;
                height: 4px;
                border-radius: 2px;
                right: -2px;
                bottom: -1px;
                z-index: 10;
                display: none;
              }
            }
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: #eae6e6;
              bottom: 0px;
              right: 0;
            }
          }
          div:nth-child(2) {
            .showing {
              display: block !important;
            }
            div:nth-child(1) {
              display: none;
              padding: 38px 38px 0 38px;
              color: #6e6e70;
              background-color: #fff !important;
              a {
                &:hover {
                  color: #007bff !important;
                }
              }
              p {
                color: #6e6e70;
              }
            }
            div:nth-child(2) {
              display: none;
              padding: 55px;
              padding-right: 70px;
              div:nth-child(2) {
                display: block;
                padding: 0;
                padding-right: 85px;
                input {
                  width: 350px;
                  border-radius: 20px;
                  border: 1px solid #d6cccc;
                  &::placeholder {
                    font-size: 13px;
                    color: #d6cccc;
                  }
                  &:focus {
                    outline: none;
                    border: 1px solid rgba(82, 168, 236, 0.8);
                  }
                }
                input:nth-child(2),
                div:nth-child(4) input {
                  margin-right: 70px;
                  &::placeholder {
                    text-align: right;
                    padding-right: 20px;
                  }
                }
                input:nth-child(3) {
                  padding-bottom: 100px;
                  border-radius: 35px 35px 0 35px;
                  &:focus {
                    border: 1px solid #d6cccc;
                  }
                }
                div:nth-child(4) {
                  img {
                    top: 30px;
                    left: 63px;
                  }
                }
                button:nth-child(5) {
                  left: 145px;
                  bottom: -20px;
                  background-color: #fc9928;
                  border: none;
                  color: #fff;
                  border-radius: 20px;
                  i {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
        .main-content__last-products {
          div:nth-child(1) {
            color: #6e6e6e;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              right: -11px;
              top: 1px;
              height: 20px;
              width: 2px;
              background-color: #fc9928;
            }
          }
          button {
            top: -10px;
            left: 10px;
            background-color: transparent;
            border: 1px solid #fc9928;
            color: #fc9928;
          }
          div:nth-child(3) {
            .owl-nav {
              display: block;
              position: absolute;
              font-size: 40px;
              top: 43%;
              right: -18px;
              color: #faa71c;
              .owl-prev {
                right: 0;
                position: absolute;
              }
              .owl-next {
                position: absolute;
                left: -866px;
              }
            }
            .main-content__last-products__item {
              position: relative;
              padding: 0px 5px;
              border-radius: 8px;
              transition: transform 0.3s ease, box-shadow 0.3s ease;
              box-shadow: 0 2px 2px 0 rgb(168, 172, 185);
              &:hover {
                transform: scale(1.03);
                box-shadow: 0 3px 16px #a8acb9;
              }
              p:nth-child(2) {
                font-size: 14px;
                color: #404040;
              }
              p:nth-child(3) {
                color: #999;
              }
              p:nth-child(4) {
                font-size: 20px;
                color: #396aff;
                i {
                  color: #fc9928;
                }
              }
              &:after {
                content: "%";
                position: absolute;
                left: 0;
                top: 0;
                padding: 5px 15px;
                font-size: 30px;
                color: #fff;
                background-color: #ef4123;
                border-radius: 8px 0 30px 0;
              }
            }
          }
        }
      }
    }
  }
}
//start footer style
.footer {
  background-color: #4b4b53;
  .footer__pictures {
    margin-right: 200px;
    img {
      width: 150px;
    }
  }
  .footer__links {
    margin-bottom: 100px;
    .footer__link,
    .footer__services,
    .footer__menu {
      margin-right: 80px;
      li:first-child {
        color: #ccc;
      }
      li {
        a {
          color: #999;
          white-space: nowrap;
        }
      }
    }
    .footer__contact-us {
      .rotate-180 {
        transform: rotate(180deg);
        animation: rotate 0.5s;
      }
      div:nth-child(1) {
        font-size: 20px;
        .fa-chevron-down {
          margin-left: 10px;
          color: #999;
          cursor: pointer;
        }
        .fa-phone-alt {
          padding: 13px 10px;
          background-color: orange;
          border-radius: 10px 10px 1px 10px;
          margin-right: 10px;
        }
      }
      ul:nth-child(2) {
        display: none;
        li {
          a {
            font-size: 20px;
            margin-right: 27px;
          }
        }
      }
      p:nth-child(3) {
        color: #999;
      }
      div:nth-child(4) {
        a {
          i {
            font-size: 25px !important;
            color: #999 !important;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 80px;
      background-color: #999;
      width: 109%;
      height: 1px;
    }
    &::before {
      content: "موسسه حرف آخر مرجع اصلی فیلم و دی وی دی های آموزش کنکور 1401 با بهترین روش ها. پکیج های حرف آخر را با هدیه رایگان از سایت مرکزی موسسه تهیه کنید.© تمامی حقوق این سایت برای موسسه حرف آخر محفوظ است.";
      position: absolute;
      bottom: -80px;
      right: 80px;
      color: #999;
      line-height: 35px;
    }
  }
}
