@charset "UTF-8";
@-webkit-keyframes downtoup {
  0% {
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes downtoup {
  0% {
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.header .header__items ul :nth-child(1) a {
  color: #999;
}

.header .header__items ul :nth-child(1) a::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  top: 3px;
  right: 77px;
  background-color: #999;
}

.header .header__items ul :nth-child(2) a {
  color: #999;
}

.header .header__items ul :nth-child(2) a::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  top: 3px;
  right: 160px;
  background-color: #999;
}

.header .header__items ul :nth-child(3) a {
  color: #fc9b4b;
}

.header .header__button button {
  margin-right: 14px;
  color: #fff;
  background-color: #fc9928;
  outline: none;
  border: none;
  border-radius: 0 20px 20px 0;
}

.header .header__button button i {
  color: #fff;
}

.header .header__button button i::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: #fff;
  width: 2px;
  height: 17px;
}

.header .header__search-box input {
  padding: 6px;
  width: 410px;
  border-radius: 20px 0 0 20px;
  border: 2px solid #ccc;
}

.header .header__search-box input::-webkit-input-placeholder {
  font-size: 15px;
  color: #c8c8c8;
}

.header .header__search-box input:-ms-input-placeholder {
  font-size: 15px;
  color: #c8c8c8;
}

.header .header__search-box input::-ms-input-placeholder {
  font-size: 15px;
  color: #c8c8c8;
}

.header .header__search-box input::placeholder {
  font-size: 15px;
  color: #c8c8c8;
}

.header .header__search-box input:focus {
  outline: none;
}

.header .header__search-box i {
  right: 13px;
  top: 14px;
  font-size: 16px;
  color: #c8c8c8;
}

.header .header__search-box i::after {
  content: "";
  top: -5px;
  right: 25px;
  background-color: #c8c8c8;
  height: 25px;
  width: 1px;
  position: absolute;
}

.header .header__logo {
  left: 0;
  top: 45px;
}

.line {
  width: 100%;
  background-color: #ebe8e8;
  height: 1px;
}

.menu-bar .menu-bar__items ul .menu-bar__items__item:hover + .menu-bar__items__item-menu {
  display: block;
}

.menu-bar .menu-bar__items ul .menu-bar__items__item:hover + .menu-bar__items__item-menu::after {
  -webkit-transform: translate(0px, -12px);
          transform: translate(0px, -12px);
}

.menu-bar .menu-bar__items ul .menu-bar__items__item-menu {
  z-index: 10;
  background: #fff;
  right: 16px;
  padding: 15px 0px;
  padding-right: 0 !important;
  width: 100%;
  display: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: relative;
}

.menu-bar .menu-bar__items ul .menu-bar__items__item-menu:hover {
  display: block;
}

.menu-bar .menu-bar__items ul .menu-bar__items__item-menu:hover::after {
  -webkit-transform: translate(0px, -12px);
          transform: translate(0px, -12px);
}

.menu-bar .menu-bar__items ul .menu-bar__items__item-menu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 38px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #f6f5f7;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.menu-bar .menu-bar__items ul .menu-bar__items__item-menu li a {
  text-decoration: none;
  padding: 10px 16px;
}

.menu-bar .menu-bar__items ul .menu-bar__items__item-menu li a:hover {
  background-color: transparent;
  border-bottom: 3px solid #fc9928;
}

.menu-bar .menu-bar__items ul #menu-2::after {
  right: 147px !important;
}

.menu-bar .menu-bar__items ul #menu-3::after {
  right: 237px !important;
}

.menu-bar .menu-bar__items ul #item-4::after,
.menu-bar .menu-bar__items ul #item-5::after,
.menu-bar .menu-bar__items ul #item-6::after,
.menu-bar .menu-bar__items ul #item-7::after,
.menu-bar .menu-bar__items ul #item-8::after,
.menu-bar .menu-bar__items ul #item-9::after,
.menu-bar .menu-bar__items ul #item-10::after,
.menu-bar .menu-bar__items ul #item-11::after {
  content: "";
  position: absolute;
  top: 41px;
  right: 38%;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #f6f5f7;
  display: none;
}

.menu-bar .menu-bar__items ul #item-4:hover::after,
.menu-bar .menu-bar__items ul #item-5:hover::after,
.menu-bar .menu-bar__items ul #item-6:hover::after,
.menu-bar .menu-bar__items ul #item-7:hover::after,
.menu-bar .menu-bar__items ul #item-8:hover::after,
.menu-bar .menu-bar__items ul #item-9:hover::after,
.menu-bar .menu-bar__items ul #item-10:hover::after,
.menu-bar .menu-bar__items ul #item-11:hover::after {
  display: block;
}

.menu-bar .menu-bar__items ul li a {
  color: #6f6f70;
  padding: 15px 13px;
}

.menu-bar .menu-bar__items ul li a:hover {
  color: #fc9928;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-content {
  background-color: #e8e7ed;
}

.main-content .main-content__scroll-up {
  display: none;
  position: fixed;
  bottom: 170px;
  left: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #666;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 8px #fff;
          box-shadow: 1px 1px 8px #fff;
}

.main-content .main-content__fa-comment-dots {
  -webkit-animation: downtoup 0.5s;
          animation: downtoup 0.5s;
  position: fixed;
  bottom: 40px;
  right: 40;
  z-index: 99;
  font-size: 30px;
  padding: 15px;
  background-color: orange;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.main-content .main-content__fa-comment-dots:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-content .main-content__conection {
  -webkit-animation: downtoup 0.5s;
          animation: downtoup 0.5s;
  display: none;
  position: fixed;
  top: 40px;
  right: 50px;
  width: 390px;
  z-index: 99;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.main-content .main-content__conection .main-content__conection__title {
  background-color: #ff8b00;
  border-radius: 10px 10px 0 0;
}

.main-content .main-content__conection .main-content__conection__title img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 15px 10px;
}

.main-content .main-content__conection .main-content__conection__title i {
  left: 25px;
  top: 15px;
  font-size: 18px;
  color: #fff;
  background-color: #e57d00;
  border-radius: 100%;
  cursor: pointer;
  padding: 8px 10px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.main-content .main-content__conection .main-content__conection__title i:hover {
  opacity: 0.7;
}

.main-content .main-content__conection .main-content__conection__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  overflow-y: scroll;
}

.main-content .main-content__conection .main-content__conection__body p span {
  border-radius: 20px;
  color: #ff8b00;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(2) img,
.main-content .main-content__conection .main-content__conection__body div:nth-child(3) img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 15px 10px;
  margin-top: 110px;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(2) p,
.main-content .main-content__conection .main-content__conection__body div:nth-child(3) p {
  width: 300px;
  border-radius: 10px 10px 0 10px;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(3) img {
  margin-top: 0;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(3) p {
  width: auto;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(4) img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(4) form {
  width: 300px;
  border-radius: 10px 10px 0 10px;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(4) form p {
  white-space: nowrap;
  font-size: 13px;
  color: #bdbaba;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(4) form input {
  border: none;
  border-bottom: 2px solid #d2d2d2;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(4) form input::-webkit-input-placeholder {
  font-size: 13px;
  color: #d2d2d2;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(4) form input:-ms-input-placeholder {
  font-size: 13px;
  color: #d2d2d2;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(4) form input::-ms-input-placeholder {
  font-size: 13px;
  color: #d2d2d2;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(4) form input::placeholder {
  font-size: 13px;
  color: #d2d2d2;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(4) form input:focus {
  outline: none;
  border-bottom: 2px solid orange;
}

.main-content .main-content__conection .main-content__conection__body div:nth-child(4) form div button {
  border-radius: 20px;
}

.main-content .main-content__banner-off {
  margin-top: -15px;
}

.main-content .main-content__contact-us div:nth-child(1) {
  border-radius: 10px;
}

.main-content .main-content__contact-us div:nth-child(1) a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main-content .main-content__contact-us div:nth-child(1) a:hover {
  color: #fc9928 !important;
}

.main-content .main-content__contact-us div:nth-child(1) i {
  color: #fc9928;
}

.main-content .main-content__contact-us div:nth-child(2) {
  border-radius: 10px;
  margin-bottom: 100px;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) {
  padding-right: 120px;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 88%;
  background-color: #ccc;
  top: 40px;
  left: 0;
  border-radius: 5px;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) p {
  color: #6e6e6e;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) p:nth-child(1),
.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) p:nth-child(5) {
  font-size: 18px;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) p:nth-child(2) i {
  top: 10px;
  right: -25px;
  font-size: 20px;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) p:nth-child(3) i {
  top: 6px;
  right: -28px;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) p:nth-child(3) a {
  color: #6e6e6e;
  -webkit-transition: none;
  transition: none;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) p:nth-child(4) i {
  top: 8px;
  right: -28px;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) p:nth-child(4) a {
  -webkit-transition: none;
  transition: none;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) p:nth-child(4) a:hover {
  color: #007bff !important;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(1) div:nth-child(6) {
  border-radius: 5px;
  width: 400px;
  height: 400px;
  border: 1px solid #d2d2d2;
  background-color: #eee;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input {
  width: 75%;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 12px 0;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input::-webkit-input-placeholder {
  font-size: 14px;
  color: #d6cccc;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:-ms-input-placeholder {
  font-size: 14px;
  color: #d6cccc;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input::-ms-input-placeholder {
  font-size: 14px;
  color: #d6cccc;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input::placeholder {
  font-size: 14px;
  color: #d6cccc;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:focus {
  outline: none;
  border: 1px solid rgba(82, 168, 236, 0.8);
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(2)::-webkit-input-placeholder,
.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(3)::-webkit-input-placeholder,
.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(6)::-webkit-input-placeholder {
  text-align: right;
  padding-right: 0.5rem;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(2):-ms-input-placeholder,
.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(3):-ms-input-placeholder,
.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(6):-ms-input-placeholder {
  text-align: right;
  padding-right: 0.5rem;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(2)::-ms-input-placeholder,
.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(3)::-ms-input-placeholder,
.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(6)::-ms-input-placeholder {
  text-align: right;
  padding-right: 0.5rem;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(2)::placeholder,
.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(3)::placeholder,
.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) input:nth-child(6)::placeholder {
  text-align: right;
  padding-right: 0.5rem;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) div:nth-child(4) .border-radius-0 {
  border-radius: 0;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) div:nth-child(4) button {
  border: 1px solid #ccc;
  width: 75%;
  border-radius: 20px;
  color: #000;
  background-color: #fff;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) div:nth-child(4) button:hover {
  color: #000 !important;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) div:nth-child(4) button i {
  font-size: 10px;
  color: #000;
  left: 15px;
  top: 17px;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) div:nth-child(4) ul {
  background-color: #fff;
  z-index: 2;
  display: none;
  right: 0px;
  top: 25px;
  width: 75%;
  border: 1px solid #ccc;
  border-top: none;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) div:nth-child(4) ul li a {
  color: #8a8674;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) div:nth-child(4) ul li a:hover {
  color: #8a8674 !important;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) textarea:nth-child(5) {
  width: 403px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 49px;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) textarea:nth-child(5)::-webkit-input-placeholder {
  font-size: 14px;
  color: #d6cccc;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) textarea:nth-child(5):-ms-input-placeholder {
  font-size: 14px;
  color: #d6cccc;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) textarea:nth-child(5)::-ms-input-placeholder {
  font-size: 14px;
  color: #d6cccc;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) textarea:nth-child(5)::placeholder {
  font-size: 14px;
  color: #d6cccc;
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) textarea:nth-child(5):focus {
  outline: none;
  border: 1px solid rgba(82, 168, 236, 0.8);
}

.main-content .main-content__contact-us div:nth-child(2) .row div:nth-child(2) div:nth-last-child(1) button {
  margin-left: 83px;
  border-radius: 30px;
  padding: 10px 55px;
  background-color: #fc9928;
  color: #fff;
  border: none;
}

.footer {
  background-color: #4b4b53;
}

.footer .footer__pictures {
  margin-right: 200px;
}

.footer .footer__pictures img {
  width: 150px;
}

.footer .footer__links {
  margin-bottom: 100px;
}

.footer .footer__links .footer__link,
.footer .footer__links .footer__services,
.footer .footer__links .footer__menu {
  margin-right: 80px;
}

.footer .footer__links .footer__link li:first-child,
.footer .footer__links .footer__services li:first-child,
.footer .footer__links .footer__menu li:first-child {
  color: #ccc;
}

.footer .footer__links .footer__link li a,
.footer .footer__links .footer__services li a,
.footer .footer__links .footer__menu li a {
  color: #999;
  white-space: nowrap;
}

.footer .footer__links .footer__contact-us .rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: rotate 0.5s;
          animation: rotate 0.5s;
}

.footer .footer__links .footer__contact-us div:nth-child(1) {
  font-size: 20px;
}

.footer .footer__links .footer__contact-us div:nth-child(1) .fa-chevron-down {
  margin-left: 10px;
  color: #999;
  cursor: pointer;
}

.footer .footer__links .footer__contact-us div:nth-child(1) .fa-phone-alt {
  padding: 13px 10px;
  background-color: orange;
  border-radius: 10px 10px 1px 10px;
  margin-right: 10px;
}

.footer .footer__links .footer__contact-us ul:nth-child(2) {
  display: none;
}

.footer .footer__links .footer__contact-us ul:nth-child(2) li a {
  font-size: 20px;
  margin-right: 27px;
}

.footer .footer__links .footer__contact-us p:nth-child(3) {
  color: #999;
}

.footer .footer__links .footer__contact-us div:nth-child(4) a i {
  font-size: 25px !important;
  color: #999 !important;
}

.footer .footer__links .footer__contact-us div:nth-child(4) a i:hover {
  opacity: 0.8;
}

.footer .footer__links:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 80px;
  background-color: #999;
  width: 109%;
  height: 1px;
}

.footer .footer__links::before {
  content: "موسسه حرف آخر مرجع اصلی فیلم و دی وی دی های آموزش کنکور 1401 با بهترین روش ها. پکیج های حرف آخر را با هدیه رایگان از سایت مرکزی موسسه تهیه کنید.© تمامی حقوق این سایت برای موسسه حرف آخر محفوظ است.";
  position: absolute;
  bottom: -80px;
  right: 80px;
  color: #999;
  line-height: 35px;
}
/*# sourceMappingURL=contact-us.css.map */